.date-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 4rem;
}

.styled-field {
  border: 1px solid #757575;
  border-radius: 6px;
  padding: 1.5rem;
  display: inline-block;
  background-color: #f5f3f3;
  position: relative;
  width: 80%;
  margin-bottom: 1.5rem;

  .label {
    position: absolute;
    top: -10px;
    left: 12px;
    background: #f5f3f3;
    padding: 0 4px;
    font-size: 1rem;
    color: #555;
  }

  .value {
    display: block;
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: 'Open Sauce Sans';
    letter-spacing: 0.02rem;
  }
}

@media (orientation: landscape) {
  .date-info-container {
    flex-direction: row;
    justify-content: center;
  }

  .styled-field {
    width: 30%;
  }
}
