/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Open Sauce Sans';
  src:
    url('/assets/fonts/OpenSauceSans-Regular.ttf') format('ttf'),
    url('/assets/fonts/OpenSauceSans-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sauce Sans';
  src:
    url('/assets/fonts/OpenSauceSans-Bold.ttf') format('ttf'),
    url('/assets/fonts/OpenSauceSans-Bold.ttf') format('ttff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #f5f3f3;
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Open Sauce Sans', sans-serif;
}
